.contbuscador {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    margin: 0px 10px 10px 10px;
}

.titulo{
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    margin: 15px 0px 5px 0px;
}

.input-field {
    max-width: 380px;
    width: 80%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    align-items: center;
}

.parent{
    display: grid;
    place-items: center;
}
.iconsformulario{
    width: 100%;
    zoom: 1.5;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

 /*CARD 1 LISTA USER*/
.contcard{
    margin: 10px 20px 0px 20px;
    display: flex;
    justify-content: center;
    gap: 22px
}

.carespacios{
    margin: 0px 5px 15px 5px;
}

.nombre{
    margin: 10px;
    font-weight: 600;
}

.img-container {
    height: 100%;
    object-fit: cover;
}

.imgcard {
    object-fit: cover;
    height: 100%;
}

/*CARD2 RECUADROS*/
.espaciocard{
    margin: 10px 10px 7px 10px;
}

.contcard2{
    margin: 15px;
}

.card-background-page {
    display: flex;
    object-fit: cover;
   
    img{
        height: 100%;
    }

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 55%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 80%;
      width: 100%;
      color: #fff;
    }
  
}

  /*HEAR O TOLBAR TRANSPARENTE Y LINEA*/
.transparent-header {
    // --ion-background-color: transparent;
    // --ion-toolbar-background: transparent;
    // --ion-toolbar-opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 1rem 100%, 0 100%);
  }

  
  ion-icon[name='people-outline'],
  ion-icon[name='menu-outline'] {
    color: #006dffb8; /* Color normal de los iconos */
  }
  
  ion-icon[name='people'],
  ion-icon[name='menu'] {
    // color: #aaaaba;  Color del icono seleccionado 
    color: #424242;
  }

 