<ion-header [translucent]="true" class="bar-header">
  <ion-toolbar>
    <ion-title class="titulo">
     Edem
    </ion-title>
    <div class="contbuscador">
      <div class="input-field"  [routerLink]="['/searchs']">
        <ion-icon name="search-outline" class="iconsformulario"></ion-icon>
        <input type="text" placeholder="Contraseña" />
      </div>
  
      <section class="parent">
        <div>
          <ion-icon style="zoom: 2;" name="information-circle-outline"></ion-icon>
        </div>
      </section>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
