<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
     Edem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contbuscador">
    <div class="input-field" (click)="modalBusqueda()">
      <ion-icon name="search-outline" class="iconsformulario"></ion-icon>
      <input type="text" placeholder="Contraseña" />
    </div>

    <section class="parent">
      <div>
        <ion-icon style="zoom: 2;" name="information-circle-outline"></ion-icon>
      </div>
    </section>
  </div>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
